<h1>Search Page</h1>

<br/>
<form action="{% url 'searchbooks' %}" method="GET" value="{{request.GET.q}}">
Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search books"/>
<input type="submit" name="submit" value="Search"/>
</form>


{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>

<ul>
{% for result in results %}
<li>

<a href='{% url 'bookspecific' result.id %}'>{{result.title}}</a>

</li>

{% endfor %}
<ul>
{% else %}
No search results for this query
{% endif %}
{% endif %}